/* ============================== */
/* ========= Login Page ======== */
/* ============================== */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  text-align: center;
}

.login-input {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 250px;
  margin-bottom: 1rem;
}

.login-error {
  color: red;
  margin-top: 1rem;
  font-size: 1rem;
}


